
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    text-transform: uppercase;
    
}
.small-Heading {
    color: green;
    font-weight: bold;
}
.heading{
    background-color: green;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
    padding: 10px;
}
th {
    
    background-color: #507f8d;
    color: white;
}
td {
    text-transform: uppercase;
}

.contact-Info {
    text-align: center;
    line-height: 3;
    margin-left: auto;
    margin-right: auto;  
    
}
.item {
    border: whitesmoke solid;
}
.table {
    margin-left: auto;
    margin-right: auto;
}
.head {
    
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    
}
.description {
    padding: 50px;
    line-height: 1.5;
    
    
}
.icon , .foot{
    width: 15%;
    height: 15%;
    word-spacing: 50px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.about-Me {
    display: flex;
    padding: 5%;
}
.my-Image {
    border-radius: 50%;
    width: 80%;
        
}

.item {
    
    flex-basis: 100%;
    text-align: center;
}

.project {
    display: flex;
}
Body {
    background-color: black;
    color: white;
}

.about-Me-Text {
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.head a:link, a:visited {
    
    text-decoration: none;
    border: solid white;
    color: white;
    padding: 10px 20px;
}
.head {
    background-color: green;
    height: fit-content;
}

.head a:hover {
    padding: 10px 20px;
    text-decoration: none;
    color: tomato;
}


.header {
    color: white;
    text-align: left;
    background-color: green; 
    background-size: cover;
    padding: 20px;
    margin: 0%;
    font-size: 200;
    text-transform: uppercase;   
    
    
}